<div class='catagory-container'>
 <h2 class='title'>List of catagories</h2>

  <div class='catagory-list'>
      <%=render "list"%>
  </div>
</div>
<%= link_to "Add a new category", new_user_catagory_path, class: 'btn btn-primary'%>
