<div class="splash">
   <span class='border border-success fs-1 text-center p-4'>Welcome Btracker</span>
    <div class='container text-center'>
       <div>
        <%= link_to 'Login', '/users/sign_in', class: 'btn btn-primary w-25 p-2'%>
       </div>

       <div>
        <%= link_to 'Sign up', '/users/sign_up', class: 'btn btn-text'%>
       </div>
    </div>
</div>